@font-face {
  font-family: manrope;
  src: url(./Manrope-VariableFont_wght.ttf);
}

body {
  font-family: manrope;
}

label {
  font-weight: 600;
}

#input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;
}

input {
  width: 493px;
  padding: 8px;
  height: 28px;
  background-color: #EEF0F2;
  border: none;
  border-radius: 0.5rem;
}