/* SIGN UP PAGE 1 */

#display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  height: 80vh; 
}

.container {
  display: flex;
  flex-direction: column;
}

#inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#login-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  grid-area: 1/2;
}

#coin-icon {
  width: 2rem;
  height: fit-content;
  margin-left: 2rem;
}

#purple-cf {
  grid-area: 0/2;
}

#red-cf, #yellow-cf {
  grid-area: 2/2;
}

#red-cf {
  width: 220px;
}

#cf-container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #EEF0F2;
  padding: 1.5rem 0;
}

#compount-header {
  color: #0057DA;
  font-weight: 800;
}

/* SIGN UP PAGE 2 */

.progress-bar {
  display: flex;
  align-items: center;
  gap: 20rem;
  position: relative;
}

.progress-nav {
  display: flex;
  justify-content: center;  
  background-color: #EEF0F2;
  padding: 3rem 0 1.5rem 0;
  margin-bottom: 5%;
}

.progress {
  flex: 1;
  text-align: center;
}

#heading-two {
  color: #0057DA;
}

#add-info, #register, #earn-badge {
  display: block;
  margin: 0 auto;
  width: 3rem;
}

#financial-info, #financial-interest {
  display: flex;  
  gap: 1rem;
}

#financial-container {
  display: flex;
  justify-content: space-around;
  margin-right: 20%;
  margin-top: 3rem;
}

#incomeStatus {
  display: flex;
  flex-direction: column;
}

#incomeStatus > label {
  margin-bottom: 1rem;
}

#select-dropdown {
  border: #B2B9C0 solid 2px;
  border-radius: 4px;
  width: 200px;
  padding: 8px 8px;
  cursor: pointer;
}

#status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

#status > h4 {
  margin: 0;
  margin-top: 1rem;
}


.status-option {
  display: flex;  
  align-items: center;
  gap: 8px;
}

.status-option > input {
  margin: 0;
}

label {
  white-space: nowrap;
}



